# Análisis estadístico de Data Products

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data/DP3_covid19-peru_casos-positivos_+_info-fallecimiento_+_info-vacunas.csv')

lst_dates = ['fecha_resultado', 'fecha_fallecimiento', 'fecha_vacuna_1', 'fecha_vacuna_2', 'fecha_vacuna_3']

for date in lst_dates:
    df.loc[:,date] = pd.to_datetime(df[date], format = '%Y%m%d')
    
df

,id_persona,fecha_resultado,metododx,sexo,edad,edad_cat,departamento,fallecido,fecha_fallecimiento,vacunado,dosis_1,dosis_2,dosis_3,id_vacuna_1,id_vacuna_2,id_vacuna_3,fecha_vacuna_1,fecha_vacuna_2,fecha_vacuna_3
0,599,2021-04-24,2,1,58,4,25,0,NaT,1,1,1,0,5,5,0,2021-05-26,2021-06-22,NaT
1,599,2021-04-16,3,1,58,4,25,0,NaT,1,1,1,0,5,5,0,2021-05-26,2021-06-22,NaT
2,777,2020-09-13,1,2,77,6,25,0,NaT,1,1,1,1,1,2,5,2021-04-26,2021-06-08,2021-12-06
3,811,2021-06-15,2,1,81,7,25,0,NaT,1,1,1,1,1,2,5,2021-04-24,2021-06-11,2021-11-29
4,821,2020-10-20,1,1,76,6,25,0,NaT,1,1,1,1,1,2,5,2021-04-29,2021-06-09,2021-12-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299001,37271926,2020-09-24,1,1,40,3,1,1,2020-08-25,0,0,0,0,0,0,0,NaT,NaT,NaT
2299002,37272286,2020-05-02,1,1,43,3,7,0,NaT,0,0,0,0,0,0,0,NaT,NaT,NaT
2299003,37280389,2020-10-15,1,1,22,1,24,0,NaT,0,0,0,0,0,0,0,NaT,NaT,NaT
2299004,37282224,2021-04-08,2,1,31,2,15,0,NaT,0,0,0,0,0,0,0,NaT,NaT,NaT
2299005,37293584,2020-05-13,2,1,80,7,15,1,2020-05-27,0,0,0,0,0,0,0,NaT,NaT,NaT

In [17]:
df = df[df.fallecido == 1]  # solamente fallecidos
df = df[(df.fecha_fallecimiento.dt.month >= 12) & (df.fecha_fallecimiento.dt.year >= 2021)]

df0 = df[df.vacunado == 0]
df1 = df[df.vacunado == 1]
df1

,id_persona,fecha_resultado,metododx,sexo,edad,edad_cat,departamento,fallecido,fecha_fallecimiento,vacunado,dosis_1,dosis_2,dosis_3,id_vacuna_1,id_vacuna_2,id_vacuna_3,fecha_vacuna_1,fecha_vacuna_2,fecha_vacuna_3
1711,762747,2021-06-01,2,2,87,7,15,1,2021-12-21,1,1,1,0,5,5,0,2021-03-19,2021-04-10,NaT
2947,1323482,2021-11-13,3,1,62,5,20,1,2021-12-19,1,1,1,0,5,4,0,2021-06-03,2021-06-24,NaT
2948,1323482,2021-12-06,2,1,62,5,20,1,2021-12-19,1,1,1,0,5,4,0,2021-06-03,2021-06-24,NaT
3786,1692345,2021-11-22,3,1,84,7,15,1,2021-12-01,1,1,1,0,5,5,0,2021-03-24,2021-04-15,NaT
4139,1837067,2021-11-25,2,1,89,7,15,1,2021-12-03,1,1,1,0,5,5,0,2021-03-19,2021-04-10,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271223,16381277,2021-12-03,3,2,73,6,4,1,2021-12-17,1,1,1,0,5,5,0,2021-05-18,2021-06-12,NaT
2281909,22767617,2021-12-08,3,1,92,7,15,1,2021-12-08,1,1,1,0,5,5,0,2021-04-16,2021-05-07,NaT
2290581,29901392,2021-10-21,2,2,32,2,15,1,2021-12-08,1,1,1,0,6,6,0,2021-09-28,2021-11-03,NaT
2294278,33456565,2021-11-27,3,1,99,7,13,1,2021-12-08,1,1,1,0,5,5,0,2021-05-29,2021-07-02,NaT
2296334,35483034,2021-11-28,3,1,68,5,15,1,2021-12-26,1,1,1,0,1,2,0,2021-05-11,2021-06-10,NaT