In [1]:
import pandas as pd

In [2]:
url_cas = '../RawData/positivos_covid.csv'
col_cas = ['FECHA_RESULTADO']
df_cas = pd.read_csv(url_cas, sep = ';', usecols = col_cas, dtype= {'FECHA_RESULTADO': 'float64'}).dropna()
df_cas.loc[:,'FECHA_RESULTADO'] = pd.to_datetime(df_cas['FECHA_RESULTADO'], format = '%Y%m%d')
df_cas = df_cas.rename({'FECHA_RESULTADO':'date'}, axis=1)
df_cas['casos'] = 'casos'

In [3]:
df_cas_ct = pd.crosstab(index = df_cas['date'], columns = df_cas['casos'])
df_cas_ct

casos       casos
date
2020-03-06      1
2020-03-07      5
2020-03-08      2
2020-03-09      3
2020-03-10      1
...           ...
2022-01-16  16902
2022-01-17  50996
2022-01-18  47403
2022-01-19  48664
2022-01-20  28308

[684 rows x 1 columns]

In [4]:
url_fal = '../RawData/fallecidos_covid.csv'
col_fal = ['FECHA_FALLECIMIENTO']
df_fal = pd.read_csv(url_fal, sep = ';', usecols = col_fal, dtype = {'FECHA_FALLECIMIENTO':'int32'})
df_fal.loc[:,'FECHA_FALLECIMIENTO'] = pd.to_datetime(df_fal['FECHA_FALLECIMIENTO'], format = '%Y%m%d')
df_fal = df_fal.rename({'FECHA_FALLECIMIENTO':'date'}, axis=1)
df_fal['fallecidos'] = 'fallecidos'

In [5]:
df_fal_ct = pd.crosstab(index = df_fal['date'], columns = df_fal['fallecidos'])
df_fal_ct

fallecidos  fallecidos
date
2020-03-03           1
2020-03-04           1
2020-03-07           1
2020-03-11           1
2020-03-14           2
...                ...
2022-01-16         102
2022-01-17         105
2022-01-18         120
2022-01-19         125
2022-01-20          47

[681 rows x 1 columns]

In [6]:
df = pd.concat([df_cas_ct, df_fal_ct], axis=1).fillna(0).astype('int64').reset_index()
df['year'] = df['date'].dt.year

df = df[['date', 'year', 'casos', 'fallecidos']]

In [7]:
df.to_csv('../Data/DP4_covid19-peru_x_fecha.csv', index=False)